.project_container {
    width: 750px;
}

.project_card{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
}

.project_img {
    width: 100%;
    margin-bottom: var(--mb-1);
}

.project_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: underline;
}

.project_description {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-2);
    align-items: center;
    justify-content: center;
    display: flex;
}

.project_button{
    color: var(--text-color);
    font-size: var(--h3-font-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
}

.project_button-icon {
    font-size: 1.5rem;
    transition: 0.3s;
}

.project_button:hover .project_button-icon {
    transform: translateX(0.25rem);
}

/*Swiper*/

.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--title-color) !important;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .project_container{
        width: initial;
    }

    .project_card{
        padding: 1.25rem 1.5rem;
    }
}

